{% extends 'base.html' %}
{% block base %}
        <!-- Details Page -->
        <section id="details-page" class="details">
            <div class="book-information">
                <h3>{{ book.title }}</h3>
                <p class="type">Type: {{ book.type }}</p>
                <p class="img"><img src="https://images-na.ssl-images-amazon.com/images/I/81Z-yHX8OcL.jpg" alt=""></p>
                <div class="actions">
                    <a class="button" href="{% url 'edit book' book.id %}">Edit</a>
                    <a class="button"  href="edit-book.html" >Delete</a>
                </div>
            </div>
            <div class="book-description">
                <h3>Description:</h3>
                <p>
                    {{ book.description }}
                </p>
            </div>
        </section>


{% endblock %}