{% extends 'base.html' %}
{% block base %}

    <!-- Edit Book Page -->
    <section id="edit-page" class="edit">
        <form id="edit-form" action="#" method="post">
            <fieldset>
                <form method="post" action="{% url 'edit book' book.id %}">
                    {{ edit_book }}
                    {% csrf_token %}
                </form>
                <input class="button submit" type="submit" value="Edit">
            </fieldset>
        </form>
    </section>

{% endblock %}